﻿@model ECDA.Models.Individual

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Individual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndividualName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip_PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip_PostalCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
