﻿@model IEnumerable<ECDA.Models.Individual>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndividualName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividualSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividualEmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividualContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLineTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City_Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip_PostalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndividualName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndividualSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndividualEmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndividualContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLineTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City_Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip_PostalCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Individual_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Individual_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Individual_ID })
        </td>
    </tr>
}

</table>
