﻿@model ECDA.Models.Consultation_Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consultation_Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor.Career_Advisor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor.Career_Advisor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Consultation_Booking_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
