﻿@model IEnumerable<ECDA.Models.Consultation_Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsultationLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advisor.Career_Advisor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultationLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advisor.Career_Advisor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker.Job_Seeker_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Consultation_Booking_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Consultation_Booking_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Consultation_Booking_ID })
        </td>
    </tr>
}

</table>
