﻿@model ECDA.Models.Business

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Business</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip_PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip_PostalCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
