﻿@model ECDA.Models.Business

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Business</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip_PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip_PostalCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Business_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
