﻿@model IEnumerable<ECDA.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessEmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdressLineTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City_Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip_PostalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessEmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdressLineTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City_Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip_PostalCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Business_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Business_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Business_ID })
        </td>
    </tr>
}

</table>
