﻿@model ECDA.Models.Job_Provider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job_Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Business.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual.IndividualName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual.IndividualName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.User_Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Job_Provider_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
