﻿@model IEnumerable<ECDA.Models.Job_Provider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Individual.IndividualName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Business.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Individual.IndividualName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.User_Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Job_Provider_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Job_Provider_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Job_Provider_ID })
        </td>
    </tr>
}

</table>
