﻿@model IEnumerable<ECDA.Models.Consultation_Hour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advisor.Career_Advisor_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advisor.Career_Advisor_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsultationHour_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsultationHour_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConsultationHour_ID })
        </td>
    </tr>
}

</table>
