﻿@model ECDA.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message_Sent_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Sent_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message_Opened_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Opened_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message_Sent_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Sent_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor.Career_Advisor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor.Career_Advisor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
