﻿@model ECDA.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message_Sent_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Sent_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message_Opened_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Opened_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message_Sent_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Sent_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor.Career_Advisor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor.Career_Advisor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Message_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
