﻿@model IEnumerable<ECDA.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message_Sent_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message_Opened_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message_Sent_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advisor.Career_Advisor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message_Sent_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message_Opened_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message_Sent_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advisor.Career_Advisor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker.Job_Seeker_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Message_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Message_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Message_ID })
        </td>
    </tr>
}

</table>
