﻿@model ECDA.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPasswordCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPasswordCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPasswordUpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPasswordUpdatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
