﻿@model ECDA.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionOneAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionOneAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionTwoAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionTwoAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionThreeAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionThreeAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionFourAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionFourAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionFiveAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionFiveAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
