﻿@model IEnumerable<ECDA.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionOneAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionTwoAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionThreeAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionFourAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionFiveAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionOneAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionTwoAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionThreeAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionFourAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionFiveAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker.Job_Seeker_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurveyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurveyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurveyID })
        </td>
    </tr>
}

</table>
