﻿@model IEnumerable<ECDA.Models.Donation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Business.BusinessName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donation_Business.BusinessName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Donation_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Donation_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Donation_ID })
        </td>
    </tr>
}

</table>
