﻿@model ECDA.Models.Job_Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job_Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available_Job.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available_Job.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
