﻿@model ECDA.Models.Job_Seeker

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job_Seeker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.User_Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
