﻿@model ECDA.Models.Job_Seeker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job_Seeker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker_ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker_ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.User_Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Job_Seeker_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
