﻿@model IEnumerable<ECDA.Models.Job_Seeker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker_ID_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker_ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker_ID_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker_ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.User_Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Job_Seeker_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Job_Seeker_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Job_Seeker_ID })
        </td>
    </tr>
}

</table>
