﻿@model ECDA.Models.Career_Advisor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Career_Advisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor_Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor_Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor_ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor_ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advice_Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advice_Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.User_Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
