﻿@model ECDA.Models.Career_Advisor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Career_Advisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor_Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor_Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advisor_ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advisor_ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_Advice_Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Advice_Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.User_Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Career_Advisor_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
