﻿@model IEnumerable<ECDA.Models.Career_Advisor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advisor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advisor_Email_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advisor_ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Advice_Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.User_Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advisor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advisor_Email_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advisor_ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Advice_Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.User_Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Career_Advisor_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Career_Advisor_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Career_Advisor_ID })
        </td>
    </tr>
}

</table>
