﻿@model ECDA.Models.Job_Seeker_CV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job_Seeker_CV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CV_FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV_FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Seeker.Job_Seeker_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Job_Seeker_CV_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
