﻿@model IEnumerable<ECDA.Models.Job_Seeker_CV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CV_FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Seeker.Job_Seeker_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CV_FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Seeker.Job_Seeker_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Job_Seeker_CV_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Job_Seeker_CV_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Job_Seeker_CV_ID })
        </td>
    </tr>
}

</table>
